<h1><%= ENV["app_site_title"] %></h1>
<p><%= link_to("Images", images_path) %></p>
<p><span id="toggle_fullscreen">Fullscreen</a></span>

<div class="slider" id="main-slider">
  <div class="slider-wrapper">
    <% @images.each do |image| %>
      <%= image_tag(image.data_url(:projector), class: 'slide') %>
    <% end %>
  </div>
</div>