<p id="notice"><%= notice %></p>

<!-- <%= link_to 'New Image', new_image_path %> -->

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Images</h1>
    <p class="lead text-muted">Here are all of the images submitted by visitors. Tap the moderate button to stop them from being displayed in our slideshow.</p>
    <!-- <p class="lead text-muted">It'll look like this:</p>
    <p>
      <a href="#" class="btn btn-danger my-2">Moderate</a>
    </p> -->
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
    <% @images.reverse.each_with_index do |image, index| %>
      <%= render partial: "shared/card", locals: { image: image } %>
    <% end %>
    </div>
  </div>
</div>